body{
    background-color: #A52A2A;
}
.a{
    background-color: #FAEBD7;
}
.ab{
    border: 2px solid;
    width: 400px;
    background-color: white;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 20px;
}
img{
    height: 150px;
    margin-top: 15px;
}
button{
    margin-bottom: 15px;
    background-color:   black;
    color: white;
    border-radius: 20px;
    width: 150px;
    
}
button:focus{
    background-color: rgb(255, 255, 255);
    color: black;
}
h1{
    text-align: center;
    background-color: aqua;
    color: white;
}
